.container {
    width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    width: 1440px;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1438px;
    border: 1px solid #009045;
}

.header-title div:first-child {
    width: 344px;
    height: 130px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #00B258;
    padding-left: 100px;
}

.header-title div:last-child {
    width: 398px;
    height: 90px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #00B258;
    display: flex;
    justify-content: center;
    padding-right: 100px;
}

.header-title img {
    width: 190px;
    height: 191px;
    justify-content: center;
}

.menu {
    width: 1440px;
}

.menu ul {
    display: flex;
    width: 1440px;
    height: 48px;
    background: #00B258;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px
}

.title-page {
    display: flex;
}

#about-us {
    width: 627px;
    padding: 0 113px;
    height: 906px;
    padding-bottom: 42px;
    background-color: #B3E8CD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-name {
    padding-top: 87px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #00B258;
}

#about-us img {
    margin-top: 65px;
}

#about-us p {
    width: 627px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #355D9D;
    margin-top: 65px;
}

.user-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 587px;
    height: 948px;
    background: #9FDABC;
}

.user-part-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #355D9D;
    margin-top: 95px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 372.93px;
    background: rgba(108, 134, 176, 0.3);
    border-radius: 10px;
    margin-top: 68px;
}

form fieldset {
    border-style: none;
    padding-top: 31px;
    width: 168px;
}

#login,
#password {
    width: 168px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #355D9D;
}

legend {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    color: #355D9D;
}

#login input,
#password input {
    width: 91px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #355D9D;
    border-radius: 5px;
}

.btn {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    justify-content: center;
}

.btn a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50.67px;
    background: #6C86B0;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.btn a:first-child {
    margin-bottom: 14px;
}

.user-marks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.user-marks div {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #355D9D;
}

#marks {
    margin-top: 9.42px;
    width: 222px;
    display: flex;
    justify-content: space-around;
}


/*services*/

.services-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #355D9D;
    opacity: 0.87;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #B3E8CD;
    padding-top: 87px;
}

#services p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #009045;
    width: 742px;
    height: 95px;
    margin-top: 66px;
    margin-bottom: 85px;
}

.services-products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 680px;
    padding-right: 45px;
    padding-left: 60px;
    height: 465px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #355D9D;
    border: 5px dashed #FFFFFF;
    border-radius: 5px;
    margin-top: 95px;
}

.services-products div {
    display: flex;
    justify-content: space-between;
}

.services-products a {
    text-decoration: none;
    color: #355D9D;
}

#second-products-item {
    padding-right: 5px;
}

#fourth-products-item {
    padding-right: 35px;
}


/*physiotherapy*/

#physiotherapy {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #B3E8CD;
}

.physiotherapy-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-top: 87px;
    color: #355D9D;
    text-align: center;
}

.physiotherapies img {
    width: 308.44px;
    height: 228.15px;
    border-radius: 20px;
}

.physiotherapies div {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #6C86B0;
    margin-top: 24px;
    text-align: center;
}

.physiotherapies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 704px;
    height: 712px;
    margin-top: 76px;
    padding-bottom: 85px;
}

#open-description {
    display: flex;
    flex-direction: column;
    background: #B3E8CD;
    width: 1440px;
}

.electrosleep-img {
    width: 442.31px;
    height: 315px;
    border-radius: 20px;
}

.darsonval-img {
    width: 349.72px;
    height: 267px;
    border-radius: 20px;
    margin-left: 60px;
}

.restbath-img {
    width: 428px;
    height: 307px;
    border-radius: 20px;
}

.aroma-img {
    width: 407.65px;
    height: 294px;
    border-radius: 20px;
}

.first_block {
    display: flex;
}

.first-img-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #355D9D;
    text-align: center;
    display: flex;
    margin-top: 87px;
    padding-left: 513px;
}

.second-img-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #355D9D;
    text-align: center;
    display: flex;
    margin-top: 87px;
    padding-left: 500px;
}

.third-img-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #355D9D;
    text-align: center;
    display: flex;
    margin-top: 87px;
    padding-left: 421.77px;
}

.back {
    width: 51.23px;
    height: 51.23px;
    margin-left: 47px;
    margin-top: 58px;
}

.second-block {
    margin-left: 150px;
    margin-top: 72px;
    display: flex;
}

.second-word {
    margin-top: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #00B258;
}

.fourth-block {
    margin-top: 20px;
    margin-left: 150px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #355D9D;
    width: 1116px;
}

.electrosleep-description {
    margin-left: 62px;
    width: 580px;
    height: 315px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #355D9D;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.darsonval-description {
    width: 580px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #355D9D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 62px;
}

.restbath-description {
    width: 1112px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #355D9D;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aromatherapy-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #355D9D;
    display: flex;
    align-items: center;
}

.aroma-block {
    margin-left: 62px;
    width: 631px;
    height: 294px;
}

.first-word {
    color: #00B258;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
}

.first-string {
    color: #355D9D;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
}

.first-paragraph {
    margin-top: 0;
    margin-bottom: 15px;
}

.fourth-paragraph {
    width: 634px;
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #355D9D;
}

.fifth-paragraph,
.sixth-paragraph {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #355D9D;
}

.third-block {
    display: flex;
    justify-content: center;
    margin-top: 68px;
    margin-bottom: 55px;
}

.second-block-part {
    margin-left: 150px;
    margin-top: 45px;
    display: flex;
}

.alarm {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 95px;
    color: #EF2B2B;
}

.sign-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #EF2B2B;
    width: 516.47px;
    height: 62px;
}


/* doctors-page */

#doctors {
    background: #B3E8CD;
    padding-bottom: 85px;
}

#doctors p {
    width: 624px;
    height: 310px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 250.68%;
    color: #355D9D;
    padding: 44px;
    border: 4px solid #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

.doctors-description {
    display: flex;
    justify-content: center;
}

.doctors-title {
    padding-top: 87px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #355D9D;
    text-align: center;
    padding-bottom: 100px;
}

.important-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.important-info img {
    width: 53.7px;
    height: 50px;
}

.import-info-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #009045;
    margin-bottom: 41px;
}

.first-info-text {
    display: flex;
    align-items: center;
    width: 413.5px;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 42px;
}

.first-info-text div {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #009045;
    width: 316.8px;
    height: 30px;
}

.second-info-text {
    width: 468.15px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second-info-text div {
    width: 373.3px;
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #009045;
}


/* our-doctors page */

#our-doctors {
    background: #B3E8CD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-doctors-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #355D9D;
    padding-top: 87px;
}

.our-doctors-personality {
    padding-top: 110px;
    width: 862px;
    height: 1127px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 85px;
}

.doctor-personality {
    display: flex;
    justify-content: space-between;
}

.doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-speciality {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding-top: 23px;
    color: #00B258;
}

.doctor-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 117.18%;
    padding-top: 23px;
    color: #355D9D;
}


/* artistic-rehabilitation page */

#artistic-rehabilitation {
    padding-top: 87px;
    background: #B3E8CD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 85px;
}

#workshops {
    padding-top: 87px;
    background: #B3E8CD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 85px;
}

.artistic-rehabilitation-title,
.workshops-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #355D9D;
}

.artistic-sections {
    display: flex;
    width: 789px;
    height: 539px;
    justify-content: space-between;
    margin-top: 100px;
}

.workshops-sections {
    width: 310px;
    height: 547px;
    display: flex;
    width: 787px;
    height: 553px;
    justify-content: space-between;
    margin-top: 100px;
}

.artistic-sections p,
.workshops-sections p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #355D9D;
}

.artistic-sections img {
    width: 308px;
    height: 229.41px;
}

.first-section,
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    height: 515px;
}

.section-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #009045;
    margin-top: 30px;
    text-align: center;
}


/* apply page */

#apply {
    padding: 100px 120px 0 120px;
    background: #9FDABC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 95px;
}

.appliment {
    display: flex;
    padding-bottom: 100px;
}

.apply-information {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.apply-information p {
    width: 372px;
    height: 245px;
    border: 7px dashed #FFFFFF;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #355D9D;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.apply-information div {
    width: 275px;
    height: 69px;
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #009045;
    background: #B3E8CD;
    border: 5px solid #FFFFFF;
    padding: 24px 82px;
}

.apply-form-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #355D9D;
    text-align: center;
    margin-bottom: 100px;
}

#apply-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
}

#apply-form form {
    width: 401px;
    height: 590px;
    margin-top: 0px;
}

#apply-login,
#apply-password,
#mobile {
    width: 240.86px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#apply-form input {
    width: 146.82px;
    height: 23px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #355D9D;
    border-radius: 5px;
}

#message {
    display: flex;
    flex-direction: column;
}

#message textarea {
    width: 240.42px;
    height: 117px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #355D9D;
    border-radius: 5px;
}

#message label {
    margin-bottom: 25px;
}

#btn {
    width: 168.56px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    background: #6C86B0;
    border-radius: 8px;
    margin-bottom: 0px;
}

#btn a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.order-menager {
    display: flex;
    align-items: center;
    width: 486px;
    height: 51px;
}

.order-menager div {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #355D9D;
    margin-left: 24px;
}


/* footer page */

footer {
    width: 1220px;
    height: 130px;
    padding: 0 110px;
    background: #177345;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 126px;
    height: 130px;
}

.footer-description,
.footer-info {
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-description div {
    margin-left: 12px;
}


/* useful-page */

main {
    background: #B3E8CD;
}

.useful-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-headings {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #355D9D;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 74px;
    padding-left: 40px;
}

.title-headings a {
    text-decoration: none;
    color: #355D9D;
}

#depression,
#panic-atack,
#keep-calm {
    padding-top: 87px;
    margin: 0 120px;
    color: #355D9D;
}

#keep-calm {
    padding-bottom: 54px;
}

#depression p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 54px;
    margin: 0;
}

#depression span {
    color: #00B258;
}

.article-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-decoration-line: underline;
    color: #355D9D;
    text-align: center;
    margin-bottom: 98px;
}

.depression-article,
.panic-atack-article,
.keep-calm-article {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.depression-title,
.panic-atack-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #00B258;
    margin-bottom: 20px;
}

.depression-term,
.panic-atack-term {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #355D9D;
}

.depression-term span {
    color: #00B258;
}

.depression-simptoms {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #00B258;
    padding-left: 0;
}

.depression-description li {
    margin-left: 20px;
    color: #355D9D;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.depression-description {
    width: 657px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.depression-description ul {
    padding-left: 0;
}

#panic-atack {
    padding-bottom: 54px;
}

#panic-atack span,
#keep-calm span {
    color: #00B258;
}

.panic-atack-description {
    width: 705px;
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keep-calm-description {
    width: 712px;
    height: 308px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #355D9D;
}

.keep-calm-description p {
    margin: 0;
    line-height: 22px;
}

.panic-reasons-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #00B258;
    margin-top: 20px;
}

.keep-calm-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #00B258;
}

.panic-reasons,
.keep-calm-rules {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #355D9D;
    margin-left: 10px;
}

.panic-reasons p {
    margin-bottom: 0;
}

.panic-reasons ul,
.keep-calm-rules ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}